.comments__all {
  height: auto;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 30px;

  .comments__all_input {
    display: flex;
    justify-content: space-between;
    .comments__all_avatar {
      height: 61px;
      width: 61px;
      min-width: 61px;
      background-color: $base-grey;
      border-radius: 50%;
      padding: 5px;
    }
    
    .comments__all_inputWrapper {
      width: 100%;
      margin: 0px 30px 0px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .comments__all_nameWrapper {
        display: flex;
        justify-content: space-between;
        .comments__all_name {
          font-family: 'Inter', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #122AC0;
        }
        .comments__all_validation {
          font-family: 'Inter', sans-serif;
          font-style: italic;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          opacity: 0.4;
        }
        .invalid {
          color: #fc0000;
          opacity: 1;
        }
      }
      
      .comments__all_text {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        overflow:hidden;
        margin-top: 15px;
        width: 100%;
        height: 61px;
        padding: 19px 25px 13px 24px;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border: none;
        border-radius: 5px;
        font-size: 18px;
        resize: none;
        &:focus {
          outline: 0;
        }
        &::placeholder {
          font-family: 'Inter', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: #000000;
          opacity: 0.4;
        }
      }
    }
    .comments__all_submitWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .comments__all_submit {
        align-self: flex-end;
        outline: 0;
        border:0;
        width: 213px;
        height: 61px;
        margin-top: 20px;
        background: $base-grey;
        border-radius: 5px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color:rgba(0, 0, 0, 0.2)
      }
      .active {
        background: #ABD873;
        color:rgba(0, 0, 0)
      }
      .comments__all_error {
        height: 17px;
        min-height: 17px;
        .error__message {
          display: none;
        }
        .show {
          display: block;
          font-family: 'Inter', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-align: right;
          color: #FF0000;
        }
      }
    }
  }
  .hide {
    display: none;
  }
  .comments__render {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .comment__show {
      display: flex;
      margin-top: 30px;
      .comment__avatar {
        height: 61px;
        width: 61px;
        min-width: 61px;
        background-color: $base-grey;
        border-radius: 50%;
        padding: 5px;
      }
      .comment__wrapper {
        width: 100%;
        margin: 0px 0px 0px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .comment__nameWrapper {
          display: flex;
          justify-content: flex-start;
          margin: 0 -5px;
          
          .comment__name {
            margin: 0 5px;
            align-self: flex-end;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #122AC0;
          }
          .comment__reply_name {
            margin: 0 5px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            .comment__answer_arrow {
              
              display: inline-block;
              width: 22px;
              height: 22px;
              overflow: hidden;
              opacity: 0.4;
              background-image: url('../public/images/reply.svg');
              
            }
            .comment__answer_button {
              opacity: 0.4;
              -webkit-appearance: none;
              -moz-appearance: none;
              outline: none;
              border: none;
              padding: 0;
              margin: 0;
              text-overflow: '';
              background: #FFFFFF;
              
              &::-ms-expand {
                display: none;
              }
            }
          }
          .comment__time {
            margin: 0 5px;
            margin-left: 15px;
            align-self: flex-end;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            opacity: 0.4;
          }
        }
        .comment__text {
          font-family: 'Inter', sans-serif;
          font-style: normal;
          margin-top: 10px;
          max-width: 80%;
          border: none;
          font-size: 18px;
          overflow-wrap: break-word;
          hyphens: auto;
          white-space: pre-wrap;      /* CSS3 */   
          white-space: -moz-pre-wrap; /* Firefox */    
          white-space: -pre-wrap;     /* Opera <7 */   
          white-space: -o-pre-wrap;   /* Opera 7 */    
          word-wrap: break-word;      /* IE */
        }

      }
    }
  }
}
