.comments_navigation {
  border-top: 3px solid;
  border-color: $base-grey;
  padding: 20px 0px 20px 0px;
  
  .comments_navigation__list {
    display: flex;
    gap: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000; 
    
    .comments__favorite {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      
      .comments__filter_button {
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        opacity: 0.4;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;

        text-decoration: underline;
        text-underline-offset: 3px;
        text-indent: 1px;
        text-overflow: '';
        background: #FFFFFF;
  
        &::-ms-expand {
          display: none;
        }
  
      }
  
  
      .comments__filter_arrow {
        cursor: pointer;

        display: inline-block;
        width: 21px;
        height: 21px;
        overflow: hidden;
        background-image: url('../public/images/favorites.svg');
  
      }
    }



    .comments__count {
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      padding-bottom: 5px;
      border-bottom: 3px solid rgba(0, 0, 0, 1);
      display: inline-block;
    }
    
    .comments__count_number {
      opacity: 0.4;
    }

    .comments__filter {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      
      .comments__filter_button {
        cursor: pointer;

        opacity: 0.4;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        text-decoration: underline;
        text-underline-offset: 3px;
        text-indent: 1px;
        text-overflow: '';
        background: #FFFFFF;
        &::-ms-expand {
          display: none;
        }
  
      }

      .comments__filter_select {
        position: absolute;
        display: flex;
        flex-direction: column;
        -webkit-justify-content: space-around;
        -ms-flex-pack: justify;
        justify-content: space-around;
        width: 229px;
        height: 108px;
        margin-top: 10px;
        z-index: 10000;
        background-color:  rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        opacity: 1;
        &.hidden {
          display: none;
        }
      }

      .radio__wrapper {
        left: 0px;
        .select__label {
          opacity: 0.4;
        }
      }

      .comments__filter_arrow {
        cursor: pointer;

        display: inline-block;
        width: 18px;
        height: 15px;
        overflow: hidden;
        opacity: 0.4;
        background-image: url('../public/images/filter_arrow.svg');
        &.open {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.comment_navigation {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000; 
  .comment_navigation__list {
    display: flex;
    gap: 50px;
    margin-top: 10px;
    .comment__answer {
      display: flex;
      .comment__answer_arrow {
        
        cursor: pointer;
        display: inline-block;
        width: 22px;
        height: 22px;
        overflow: hidden;
        opacity: 0.4;
        background-image: url('../public/images/reply.svg');
        
      }
      .comment__answer_button {
        cursor: pointer;
        opacity: 0.4;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        text-overflow: '';
        background: #FFFFFF;
  
        &::-ms-expand {
          display: none;
        }
      }
    }
    .comment__favorite {
     display: flex;
     
     .comment__favorite_hart {
       cursor: pointer;
       
       display: inline-block;
        width: 24px;
        height: 24px;
        overflow: hidden;
        opacity: 0.4;
        background-image: url('../public/images/hart.svg');
        
      }
      .filled {
        width: 24px;
        height: 24px;
        background-image: url('../public/images/hart_filled.svg');
      }
      .comment__favorite_button {
        cursor: pointer;
        opacity: 0.4;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        text-overflow: '';
        background: #FFFFFF;
        
        &::-ms-expand {
          display: none;
        }
      }
    }
    .comment__like {
      display: flex;
      margin: 0 -5px;
      .comment__like_minus {
        cursor: pointer;
        height: 20px;
        width: 20px;
        min-width: 20px;
        background-color: $base-grey;
        border-radius: 50%;
        color: red;
        text-align: center;
        margin:0 5px;
      }
      .comment__like_count {
        margin:0 5px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
      }
      .comment__like_plus {
        cursor: pointer;
        margin:0 5px;
        height: 20px;
        width: 20px;
        min-width: 20px;
        background-color: $base-grey;
        border-radius: 50%;
        color: green;
        text-align: center;
      }
      .hidden {
        display: none;
      }
    }
  }
}

