main {
  width: 100%;
}

nav {
  width: 100%;
  height: 40px;
}

.main__section {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.main__section_sidenav {
  height: auto;
  width: 203px;
  background: $base-grey;
}

.main__section_content {
  width: 100%;
  height: 1000px;
  margin: 0px 5% 0px 2%;
}

.section_content__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;
}

.simple_block {
  height: 61px;
  
  background: $base-grey;
}

.section_content__footer {
  margin: 40px 0px 40px 0px ;
  height: 168px;
  width: 100%;
  background: $base-grey;

}